<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail style="padding: 5px" slot="start">
      <ion-img src="../assets/logo.svg"></ion-img>
    </ion-thumbnail>
    <ion-title>Customer Portal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form novalidate>
        <mat-form-field>
          <input matInput placeholder="Current Password" [(ngModel)]="model.oldpassword" type="password" name="oldpassword" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="New Password" [(ngModel)]="model.newpassword" type="password" name="newpassword" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Re-enter New Password" [(ngModel)]="model.confirmnewpassword" type="password" name="confirmpassword" required>          
        </mat-form-field>        
        <mat-error *ngIf="model.newpassword != model.confirmnewpassword">
          Passwords do not match
        </mat-error>
      </form>      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="submitUserPasswordChangeForm()" color="primary"><mat-icon aria-hidden="false" aria-label="Submit">done</mat-icon></button>
      <button mat-raised-button type="button" (click)="clickBack()" color="primary"><mat-icon aria-hidden="false" aria-label="Cancel">cancel</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</ion-content>