<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail style="padding: 5px" slot="start">
      <ion-img src="../assets/logo.svg"></ion-img>
    </ion-thumbnail>
    <ion-title><mat-icon [inline]="true">attach_money</mat-icon> Payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <mat-card *ngIf="mode=='list'">

    <mat-card-content>

      <mat-form-field>
        <mat-label translate>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="">
      </mat-form-field>

      <table mat-table [dataSource]="paymentsDatasource" class="mat-elevation-z8">

        <ng-container matColumnDef="paymentNumber">
          <th mat-header-cell *matHeaderCellDef>{{ 'Receipt'}}#</th>
          <td mat-cell *matCellDef="let row">{{row.paymentNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="paymentDate">
          <th mat-header-cell *matHeaderCellDef>{{ 'Receipt Date'}}</th>
          <td mat-cell *matCellDef="let row">{{row.paymentDate}}</td>
        </ng-container>

        <ng-container matColumnDef="paymentType">
          <th mat-header-cell *matHeaderCellDef>{{ 'Payment Method'}}</th>
          <td mat-cell *matCellDef="let row">{{row.paymentType}}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>{{ 'Amount'}}</th>
          <td mat-cell *matCellDef="let row">{{row.amount}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>{{ 'Status'}}</th>
          <td mat-cell *matCellDef="let row">{{row.status}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onPaymentSelect(row.paymentNumber)"></tr>
      </table>

    </mat-card-content>

  </mat-card>


  <div *ngIf="mode!='list'">

    <form *ngIf="paymentDetail">
      <ion-card>
        <mat-card style="max-width: unset !important">

          <mat-card-header>
            <mat-card-title>{{ 'Payment Detail'}}</mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Payment Number</mat-label>
              <input matInput [type]="'text'"
                value="{{paymentDetail.paymentNumber}}" readonly>
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Status</mat-label>
              <input matInput [type]="'text'"
                value="{{paymentDetail['paymentStatus']['name']}}" readonly>
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Client Name</mat-label>
              <input matInput [type]="'text'"
                value="{{paymentDetail.clientName}}" readonly>
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Payment Date</mat-label>
              <input matInput [type]="'text'"
                value="{{paymentDetail.paymentDate}}" readonly>
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Amount</mat-label>
              <input matInput [type]="'text'"
                value="{{paymentDetail.amount}}" readonly>
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Cashier</mat-label>
              <input matInput [type]="'text'"
                value="{{paymentDetail['cashier']['name']}}" readonly>
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Transaction Type</mat-label>
              <input matInput [type]="'text'"
                value="{{paymentDetail['transactionType']['name']}}" readonly>
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Payment Method</mat-label>
              <input matInput [type]="'text'"
                value="{{paymentDetail['paymentType']['name']}}" readonly>
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Receipt Method</mat-label>
              <input matInput [type]="'text'"
                value="{{paymentDetail['receiptMethod']['name']}}" readonly>
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Bank Branch</mat-label>
              <input matInput [type]="'text'"
                value="{{paymentDetail.receiptMethod.bankBranchName}}" readonly>
            </mat-form-field>

            <a (click)="downloadReceipt()">
              <button mat-button mat-icon-button aria-label="Download">            
                <mat-icon>receipt</mat-icon>            
              </button>
              Download Receipt
            </a>

          </mat-card-content>

        </mat-card>
      </ion-card>
    </form>
  </div>

</ion-content>