<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail style="padding: 5px" slot="start">
      <ion-img src="../assets/logo.svg"></ion-img>
    </ion-thumbnail>
    <ion-title>Customer Portal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome {{ session.getSessionUser().firstname }}.</mat-card-title>
    </mat-card-header>
    <mat-card-content>         
    </mat-card-content>
  </mat-card>
</ion-content>