<div mat-dialog-content>
  <mat-card style="max-width: unset;">
    <mat-card-header>
      <mat-card-title translate>{{data.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{data.content}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onNoClick()">No</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
    </mat-card-actions>
  </mat-card>
</div>