<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail style="padding: 5px" slot="start">
      <ion-img src="../assets/logo.svg"></ion-img>
    </ion-thumbnail>
    <ion-title>
      <mat-icon [inline]="true">business</mat-icon> OpCos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <mat-card *ngIf="mode=='list'">

    <mat-card-header>
      <mat-card-title *ngIf="parentOpCo">{{ 'OpCos linked to Parent OpCo'}} : {{parentOpCo}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <mat-form-field>
        <mat-label translate>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="">
      </mat-form-field>

      <table mat-table [dataSource]="opcosDatasource" class="mat-elevation-z8">

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Code</th>
          <td mat-cell *matCellDef="let row">{{row.code}}</td>
        </ng-container>

        <ng-container matColumnDef="parentOpCo">
          <th mat-header-cell *matHeaderCellDef>Parent OpCo</th>
          <td mat-cell *matCellDef="let row">{{row.parentOpCo}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickEdit(row.parentOpCo, row.code)"></tr>
      </table>

    </mat-card-content>

  </mat-card>

  <form *ngIf="mode!='list'" [formGroup]="myForm">

    <ion-card>
      <mat-card>

        <mat-card-header>
          <mat-card-title *ngIf="mode=='delete'" translate>{{ 'Delete OpCo'}}</mat-card-title>
          <mat-card-title *ngIf="mode=='edit'" translate>{{ 'Edit OpCo'}}</mat-card-title>
          <mat-card-title *ngIf="mode=='add'" translate>{{ 'Add OpCo under Parent OpCo'}}:
            {{model.parentOpCo}}</mat-card-title>
          <mat-card-title *ngIf="mode=='view'" translate>{{ 'OpCo Detail'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>OpCo Code</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['code']" [placeholder]="'Code'"
              [type]="'text'" [(ngModel)]="model.code">
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>OpCo Name</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['name']" [placeholder]="'Name'"
              [type]="'text'" [(ngModel)]="model.name">
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Parent OpCo</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['parentopco']"
              [placeholder]="'Parent OpCo'" [type]="'text'" [(ngModel)]="model.parentOpCo" disabled>
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Tax Number</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['taxnumber']" [placeholder]="'Tax Number'"
              [type]="'text'" [(ngModel)]="model.taxNumber">
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Registration Number</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['registrationnumber']"
              [placeholder]="'Registration Number'" [type]="'text'" [(ngModel)]="model.registrationNumber">
          </mat-form-field>

          <ion-fab style="position: inherit;" *ngIf="mode==='edit'">
            <ion-fab-button color="primary" (click)="clickManageOpcoUsers()" translate>
              <mat-icon>people</mat-icon>
            </ion-fab-button>
            <ion-fab-button color="primary" (click)="clickManageOpcoDealers()" translate>
              <mat-icon>person</mat-icon>
            </ion-fab-button>
            <ion-fab-button color="primary" (click)="clickManageOpcoChildren()" translate>
              <mat-icon>business</mat-icon>
            </ion-fab-button>
          </ion-fab>
        </mat-card-content>
      </mat-card>
    </ion-card>

    <ion-card>
      <mat-card style="max-width: unset !important">

        <mat-card-header>
          <mat-card-title translate>{{ 'Supplier System Specification'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Logo</mat-label>
            <input matInput type="text" class="form-control" id="logo" name="logo"
              [formControl]="myForm.controls['logo']" [(ngModel)]="model['supplierSystemSpec']['logo']" />
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Proforma Template</mat-label>
            <input matInput type="text" class="form-control" id="proformatemplate" name="proformatemplate"
              [formControl]="myForm.controls['proformatemplate']"
              [(ngModel)]="model['supplierSystemSpec']['proformaTemplate']" />
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Theme</mat-label>
            <input matInput type="text" class="form-control" id="theme" name="theme"
              [formControl]="myForm.controls['theme']" [(ngModel)]="model['supplierSystemSpec']['theme']" />
          </mat-form-field>

        </mat-card-content>

      </mat-card>
    </ion-card>

    <ion-card>
      <mat-card style="max-width: unset !important">

        <mat-card-header>
          <mat-card-title translate>{{ 'Service Registration'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Service URL</mat-label>
            <input matInput type="text" class="form-control" id="serviceurl" name="serviceurl"
              [formControl]="myForm.controls['serviceurl']"
              [(ngModel)]="model['supplierSystemSpec']['serviceRegistration']['serviceUrl']" />
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Service User Name</mat-label>
            <input matInput type="text" class="form-control" id="serviceusername" name="serviceusername"
              [formControl]="myForm.controls['serviceusername']"
              [(ngModel)]="model['supplierSystemSpec']['serviceRegistration']['serviceUsername']" />
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Service Password</mat-label>
            <input matInput type="password" class="form-control" id="servicepassword" name="servicepassword"
              [formControl]="myForm.controls['servicepassword']"
              [(ngModel)]="model['supplierSystemSpec']['serviceRegistration']['servicePassword']" />
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Repeat Service Password</mat-label>
            <input matInput type="password" class="form-control" id="repeatservicepassword" name="repeatservicepassword"
              [formControl]="myForm.controls['repeatservicepassword']" [(ngModel)]="repeatservicepassword" />
          </mat-form-field>
          <mat-error
            *ngIf="model['supplierSystemSpec']['serviceRegistration']['servicePassword'] != repeatservicepassword">
            Passwords do not match
          </mat-error>
        </mat-card-content>

      </mat-card>
    </ion-card>

    <ion-card>
      <mat-card>

        <mat-card-header>
          <mat-card-title translate>{{ 'Address'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <address [disabled]="myForm.disabled" [parentForm]="myForm" [parentFormSubmitted]="formsubmitted"
            [address]="model.address"></address>
        </mat-card-content>

      </mat-card>
    </ion-card>

    <ion-card>

      <mat-card style="max-width: unset !important">

        <mat-card-header>
          <mat-card-title translate>{{ 'Contact Persons'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <contact-persons [disabled]="myForm.disabled" [parentForm]="myForm" [parentFormSubmitted]="formsubmitted"
            [contacts]="model.contactPersons"></contact-persons>
        </mat-card-content>

      </mat-card>

    </ion-card>

  </form>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" *ngIf="utility.userHasRoles(['ROLE_Opco_Write']) && (mode==='add' || mode==='edit')"
      (click)="submitOpcoCrudForm()">
      <mat-icon aria-hidden="false" aria-label="Save">save</mat-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" *ngIf="utility.userHasRoles(['ROLE_Opco_Write']) && (mode==='edit')"
      (click)="clickDelete()">
      <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
    </ion-fab-button>
    <!-- <ion-fab-button color="secondary" *ngIf="(mode==='add' || mode==='edit')" (click)="clickCancel()"><mat-icon aria-hidden="false" aria-label="Cancel">cancel</mat-icon></ion-fab-button> -->
    <ion-fab-button color="primary" *ngIf="utility.userHasRoles(['ROLE_Opco_Write']) &&  (mode==='list')"
      (click)="clickAdd()" color="primary">
      <mat-icon aria-hidden="false" aria-label="Add">add</mat-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>