<mat-card *ngFor="let number of numbers; let i=index">

    <mat-card-header>
        <ion-fab-button style="position: absolute; right: 0px; top: 0px;" size="small" color="primary" (click)="removeNumber(i)" color="primary">
            <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
        </ion-fab-button>
    </mat-card-header>

    <mat-card-content>
        <contact-number [disabled]="isDisabled" [parentForm]="contactNumbersParentForm" [parentFormSubmitted]="contactNumbersParentFormSubmitted" [index]="i" [number]="number"></contact-number>
    </mat-card-content>

</mat-card>

<ion-fab-button size="small" color="primary" (click)="addNumber()" color="primary"><mat-icon aria-hidden="false" aria-label="Add">add</mat-icon></ion-fab-button>