<mat-form-field class="dynamic-form-field-full-width">
  <mat-label translate>Title</mat-label>
  <input matInput type="text" id="title" [formControl]="contactForm.get('title')" [(ngModel)]="contact.title"
    class="form-control">
</mat-form-field>

<mat-form-field class="dynamic-form-field-full-width">
  <mat-label translate>Initials</mat-label>
  <input matInput type="text" id="initials" [formControl]="contactForm.get('initials')" [(ngModel)]="contact.initials"
    class="form-control">
</mat-form-field>

<mat-form-field class="dynamic-form-field-full-width">
  <mat-label translate>First Name</mat-label>
  <input matInput type="text" id="firstname" [formControl]="contactForm.get('firstname')"
    [(ngModel)]="contact.firstname" class="form-control">
</mat-form-field>

<mat-form-field class="dynamic-form-field-full-width">
  <mat-label translate>Last Name</mat-label>
  <input matInput type="text" id="lastname" [formControl]="contactForm.get('lastname')" [(ngModel)]="contact.lastname"
    class="form-control">
</mat-form-field>

<mat-card style="max-width: unset !important">

  <mat-card-header>
    <mat-card-title translate>{{ 'Contact Numbers' }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <contact-numbers [disabled]="isDisabled" [numbers]="contact.contactNumbers" [parentForm]="contactForm"
      contactPersonsParentForm></contact-numbers>
  </mat-card-content>

</mat-card>