<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail style="padding: 5px" slot="start">
      <ion-img src="../assets/logo.svg"></ion-img>
    </ion-thumbnail>
    <ion-title><mat-icon [inline]="true">add_shopping_cart</mat-icon> Quotations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <mat-card *ngIf="mode=='list'">

    <mat-card-content>

      <mat-form-field>
        <mat-label translate>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="">
      </mat-form-field>

      <table mat-table [dataSource]="quotationsDatasource" class="mat-elevation-z8">

        <ng-container matColumnDef="quotationNumber">
          <th mat-header-cell *matHeaderCellDef>Quotation</th>
          <td mat-cell *matCellDef="let row">{{row.quotationNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef>Created Date</th>
          <td mat-cell *matCellDef="let row">{{row.createdDate}}</td>
        </ng-container>

        <ng-container matColumnDef="warehouse">
          <th mat-header-cell *matHeaderCellDef>Warehouse</th>
          <td mat-cell *matCellDef="let row">{{row.warehouse}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let row">{{row.status}}</td>
        </ng-container>

        <ng-container matColumnDef="orderNumber">
          <th mat-header-cell *matHeaderCellDef>Order</th>
          <td mat-cell *matCellDef="let row">{{row.orderNumber}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onQuoteSelect(row.quotationNumber)"></tr>
      </table>

    </mat-card-content>

  </mat-card>

  <form *ngIf="mode!='list'" [formGroup]="myForm" (keydown.enter)="$event.preventDefault()">

    <ion-card *ngIf="mode=='edit'">

      <mat-card style="max-width: unset !important">

        <mat-card-header>
          <mat-card-title translate>{{ 'Quotation Number'}}: {{quotationNumber}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Status</mat-label>
            <input matInput [placeholder]="'Status'"
              [type]="'text'" [(ngModel)]="model.status" [ngModelOptions]="{standalone: true}">
          </mat-form-field>

          <mat-form-field *ngIf="model.status==='Completed'" class="dynamic-form-field-full-width">
            <mat-label translate>Order</mat-label>            
            <input matInput [placeholder]="'Order Number'"
              [type]="'text'" [(ngModel)]="model.orderNumber" [ngModelOptions]="{standalone: true}" style="display: none;">
              <a routerLink="/order/view/{{model.orderNumber}}" href="#">{{model.orderNumber}}</a>
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Created by user</mat-label>
            <input matInput [placeholder]="'Created by user'"
              [type]="'text'" [(ngModel)]="model.createdByUser" [ngModelOptions]="{standalone: true}">
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Created date</mat-label>
            <input matInput [placeholder]="'Created date'"
              [type]="'text'" [(ngModel)]="model.createdDate" [ngModelOptions]="{standalone: true}">
          </mat-form-field>

          <a (click)="downloadProforma()">
            <button mat-button mat-icon-button aria-label="Download">            
              <mat-icon>cloud_download</mat-icon>            
            </button>
            Proforma Invoice
          </a>
        </mat-card-content>

      </mat-card>
    </ion-card>
    
    <ion-card>
      <mat-card style="max-width: unset !important">

        <mat-card-header>
          <mat-card-title *ngIf="mode=='add'" translate>{{ 'Add Quote'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <mat-form-field>
            <mat-label>Payment Type</mat-label>
            <mat-select [formControl]="myForm.controls['paymenttype']" [(ngModel)]="model.paymentType" required>
              <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.id">{{paymentType.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput                   
                   type="text"
                   placeholder="Issuing Warehouse"
                   aria-label="Issuing Warehouse"                   
                   [formControl]="myForm.controls['issuingwarehouse']"                   
                   [matAutocomplete]="auto" required>
                   <button *ngIf="!this.myForm.controls['issuingwarehouse'].disabled" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="myForm.controls['issuingwarehouse'].setValue('');">
                    <mat-icon [inline]="true">undo</mat-icon>
                  </button>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onIssuingWarehouseSelect($event)">
              <mat-option *ngFor="let warehouse of filteredWarehouses | async" [value]="warehouse">
                {{warehouse.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <table *ngIf="this.model.issuedWarehouseId" mat-table [dataSource]="model.quoteLines" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="product">
              <th mat-header-cell *matHeaderCellDef> Product </th>
              <td mat-cell *matCellDef="let line"> {{line.description}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="available">
              <th mat-header-cell *matHeaderCellDef> Available </th>
              <td mat-cell *matCellDef="let line"> {{line.available}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let line"> {{line.quantity}} 
              <button *ngIf="mode==='add'" mat-button matSuffix mat-icon-button aria-label="Add" (click)="removeQuoteLine(line)">
                <mat-icon [inline]="true">delete</mat-icon>
              </button> </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="grossAmount">
              <th mat-header-cell *matHeaderCellDef> Amount (excl) </th>
              <td mat-cell *matCellDef="let line"> {{formatAmount(line.grossAmount)}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="taxAmount">
              <th mat-header-cell *matHeaderCellDef> Tax </th>
              <td mat-cell *matCellDef="let line"> {{formatAmount(line.taxAmount)}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="discountAmount">
              <th mat-header-cell *matHeaderCellDef> Discount </th>
              <td mat-cell *matCellDef="let line"> {{formatAmount(line.discountAmount)}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="netAmount">
              <th mat-header-cell *matHeaderCellDef> Total </th>
              <td mat-cell *matCellDef="let line"> {{formatAmount(line.netAmount)}} </td>
            </ng-container>
          
            <!-- Disclaimer column -->
            <ng-container matColumnDef="productSelectFooter">              
              <td mat-footer-cell *matFooterCellDef colspan="1">                
                <mat-form-field class="example-full-width">
                  <input matInput                   
                         type="text"
                         placeholder="Select Product"
                         aria-label="Select Product"                   
                         [formControl]="myForm.controls['product']"                   
                         [matAutocomplete]="autoProduct"
                         #productsearch>
                  <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="myForm.controls['product'].setValue('');">
                    <mat-icon [inline]="true">undo</mat-icon>
                  </button>
                  <mat-autocomplete #autoProduct="matAutocomplete" (optionSelected)="onQuoteLineProductSelect($event)">
                    <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
                      {{product.description}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="productSelectAvailableFooter">              
              <td mat-footer-cell *matFooterCellDef colspan="1" class="dynamic-form-field-full-width">                
                {{productSelectAvailable}}
              </td>
            </ng-container>

            <ng-container matColumnDef="productSelectQuantityInputFooter">              
              <td mat-footer-cell *matFooterCellDef colspan="1">                
                <mat-form-field>
                  <input matInput type="text" (focus)="onInputFocus($event)" [formControl]="myForm.controls['quantity']" [(ngModel)]="selectedProductQuantity" (keyup.enter)="addQuoteLine()" #productselectquantity>
                  <button mat-button matSuffix mat-icon-button aria-label="Add" (click)="addQuoteLine()">
                    <mat-icon [inline]="true">add</mat-icon>
                  </button>
                </mat-form-field>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="quoteDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: quoteDisplayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="quoteFooterControls" class="example-second-footer-row"></tr>

          </table>

          <div *ngIf="this.model.issuedWarehouseId" style="padding-top: 20px;">

            <mat-form-field class="example-full-width">
              <mat-label>{{ 'Total Amount (excl)'}}</mat-label>            
              <input matInput [type]="'text'" value="{{formatAmount(model.grossAmount, true)}}" readonly>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>{{ 'Total Tax'}}</mat-label>            
              <input matInput [type]="'text'" value="{{formatAmount(model.taxAmount, true)}}" readonly>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>{{ 'Total Discount'}}</mat-label>            
              <input matInput [type]="'text'" value="{{formatAmount(model.discountAmount, true)}}" readonly>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>{{ 'Total Amount (incl)'}}</mat-label>            
              <input matInput [type]="'text'" value="{{formatAmount(model.netAmount, true)}}" readonly>
            </mat-form-field>

          </div>

        </mat-card-content>

      </mat-card>
    </ion-card>

    <!--
    <ion-card>
      <mat-card style="max-width: unset !important">

        <mat-card-header>
          <mat-card-title translate>{{ 'Customer Account Details'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Customer Name</mat-label>
            <input matInput value="{{currentDealer['customerAccount'].customerName}}" readonly>
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>ERP Customer ID</mat-label>
            <input matInput value="{{currentDealer['customerAccount'].erpCustomerId}}" readonly>
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Customer Account Number</mat-label>
            <input matInput value="{{currentDealer['customerAccount'].erpCustomerAccountNumber}}" readonly>
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Blacklisted</mat-label>
            <input matInput value="{{currentDealer['customerAccount'].blacklisted}}" readonly>
          </mat-form-field>

        </mat-card-content>

      </mat-card>
    </ion-card>

    <ion-card *ngIf="currentDealer">
      <mat-card>

        <mat-card-header>
          <mat-card-title translate>{{ 'Billing Address'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <address [disabled]="true" [address]="currentDealer['billToAddress']" [dealeraddress]="true"></address>
        </mat-card-content>

      </mat-card>
    </ion-card>

    <ion-card *ngIf="currentDealer">
      <mat-card>

        <mat-card-header>
          <mat-card-title translate>{{ 'Shipping Address'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <address [disabled]="true" [address]="currentDealer['shipToAddress']" [dealeraddress]="true"></address>
        </mat-card-content>

      </mat-card>
    </ion-card>

    -->
    <!--
    <ion-card>
      <mat-card>

        <mat-card-header>
          <mat-card-title translate>{{ 'Address'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <address [disabled]="myForm.disabled" [parentForm]="myForm" [parentFormSubmitted]="formsubmitted" [address]="model.address"></address>
        </mat-card-content>

      </mat-card>
    </ion-card>

    <ion-card>

      <mat-card style="max-width: unset !important">

        <mat-card-header>
          <mat-card-title translate>{{ 'Contact Persons'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <contact-persons [disabled]="myForm.disabled" [parentForm]="myForm" [parentFormSubmitted]="formsubmitted" [contacts]="model.contactPersons" ></contact-persons>
        </mat-card-content>

      </mat-card>

    </ion-card>
  -->
  </form>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="submitQuoteCrudForm()"             *ngIf="(mode==='add' || (mode==='edit' && model.status==='New')) && (currentDealer && !currentDealer['customerAccount'].blacklisted)"><mat-icon aria-hidden="false" aria-label="Save">save</mat-icon></ion-fab-button>
    <ion-fab-button color="primary" (click)="placeOrder(model.quotationNumber)" *ngIf="(mode==='edit') && (model.status==='Accepted')"><mat-icon aria-hidden="false" aria-label="Save">check</mat-icon></ion-fab-button>
    <ion-fab-button color="secondary" (click)="clickCancel()" *ngIf="(mode==='edit') && (model.status==='Accepted')"><mat-icon aria-hidden="false" aria-label="Save">delete</mat-icon></ion-fab-button>    
    <ion-fab-button color="secondary" (click)="clickBack()" *ngIf="mode!='list'"><mat-icon aria-hidden="false" aria-label="Save">cancel</mat-icon></ion-fab-button>    
    <ion-fab-button color="primary" (click)="clickAdd()" *ngIf="mode=='list'"><mat-icon aria-hidden="false" aria-label="Save">add</mat-icon></ion-fab-button>    
  </ion-fab>

</ion-content>