<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-thumbnail style="padding: 5px" slot="start">
          <ion-img src="../assets/logo.svg"></ion-img>
        </ion-thumbnail>
        <ion-title>Customer Portal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="authService.userAuthenticated()">
      <ion-list *ngFor="let pages of navigate"> <!-- i reckon use a list of menu items returned back from session -->
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="pages.url" routerDirection="forward">
            <mat-icon>{{pages.icon}}</mat-icon>
            <mat-label style="padding-left: 10px;"> {{pages.title}}</mat-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
  <div style="position: absolute" *ngIf="loading$ | async; else false" class="loading-indicator">
    <mat-spinner></mat-spinner>
  </div>
  <ion-fab-button *ngIf="showBackButton()" size="small" style="position: absolute; right: 0px;" (click)="location.back()"><mat-icon aria-hidden="false" aria-label="Go Back">undo</mat-icon></ion-fab-button>
</ion-app>

