<mat-form-field>
  <mat-label>Type</mat-label>
  <select matNativeControl [formControl]="numberForm.get('type')" [(ngModel)]="number.type" required>
    <option value="Mobile">Mobile</option>
    <option value="Telephone">Telephone</option>
    <option value="Fax">Fax</option>
  </select>
</mat-form-field>

<mat-form-field class="dynamic-form-field-full-width">
  <mat-label translate>Number</mat-label>
  <!--
      <input matInput [required]="true" [formControl]="myForm.controls['mobile']" [placeholder]="'Mobile'" [type]="'text'" [(ngModel)]="model.mobile">   -->
  <ngx-mat-intl-tel-input [preferredCountries]="['za']" [onlyCountries]="['za']" [enablePlaceholder]="true"
    name="Mobile" [formControl]="numberForm.get('number')" [(ngModel)]="number.number" #phone></ngx-mat-intl-tel-input>
  <mat-error *ngIf="numberForm.controls['number']?.errors?.validatePhoneNumber">Invalid Number</mat-error>
</mat-form-field>

