<div mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title translate>One-Time PIN Confirmation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Enter PIN" type="password" [(ngModel)]="otp">
      </mat-form-field>
      <button mat-button (click)="requestNewOtp()" color="primary" matTooltip="Resend OTP" cdkFocusInitial><mat-icon aria-hidden="false" aria-label="Submit">replay</mat-icon></button>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="cancelOtp()" matTooltip="Cancel" color="primary"><mat-icon aria-hidden="false" aria-label="Cancel">cancel</mat-icon></button>
      <button mat-button (click)="submitOtp()" matTooltip="Submit" color="primary" cdkFocusInitial><mat-icon aria-hidden="false" aria-label="Submit">done</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>