<div>
  <label>GPS</label>
  <button mat-button matSuffix mat-icon-button aria-label="Location" (click)="getPreciseLocation()">
    <mat-icon aria-hidden="false" aria-label="Location" [inline]="true">my_location</mat-icon>
  </button>
  <mat-form-field class="dynamic-form-field-full-width">
    <input matInput type="text" placeholder="Latitiude" class="form-control" id="addresslatitude" name="addresslatitude"
      [formControl]="addressForm.controls['addresslatitude']" [(ngModel)]="address['gpsPoint']['latitude']">
  </mat-form-field>
  <mat-form-field class="dynamic-form-field-full-width">
    <input matInput type="text" placeholder="Longitude" class="form-control" id="addresslongitude" name="addresslongitude"
      [formControl]="addressForm.controls['addresslongitude']" [(ngModel)]="address['gpsPoint']['longitude']">
  </mat-form-field>
</div>

<mat-form-field class="dynamic-form-field-full-width">
  <mat-label translate>Address</mat-label>
  <input matInput type="text" id="addressline1" [required]="true" [formControl]="addressForm.get('addressline1')"
    [(ngModel)]="address.addressLine1" class="form-control">
</mat-form-field>

<mat-form-field class="dynamic-form-field-full-width">
  <input matInput type="text" id="addressline2" [formControl]="addressForm.get('addressline2')"
    [(ngModel)]="address.addressLine2" class="form-control">
</mat-form-field>

<mat-form-field class="dynamic-form-field-full-width">
  <input matInput type="text" id="addressline3" [formControl]="addressForm.get('addressline3')"
    [(ngModel)]="address.addressLine3" class="form-control">
</mat-form-field>

<mat-form-field class="dynamic-form-field-full-width">
  <mat-label translate>City</mat-label>
  <input matInput type="text" id="city" [required]="true" [formControl]="addressForm.get('city')" [(ngModel)]="address.city"
    class="form-control">
</mat-form-field>

<mat-form-field class="dynamic-form-field-full-width">
  <mat-label for="state" translate>State</mat-label>
  <input matInput type="text" id="state" [required]="true" [formControl]="addressForm.get('state')" [(ngModel)]="address.state"
    class="form-control">
</mat-form-field>

<mat-form-field class="dynamic-form-field-full-width">
  <mat-label translate>Zip Code</mat-label>
  <input matInput type="text" id="zipcode" [required]="true" [formControl]="addressForm.get('zipcode')" [(ngModel)]="address.zipCode"
    class="form-control">
</mat-form-field>

<mat-form-field class="dynamic-form-field-full-width">
  <mat-label translate>Country Code</mat-label>
  <input matInput type="text" id="countrycode" [required]="true" [formControl]="addressForm.get('countrycode')"
    [(ngModel)]="address.countryCode" class="form-control">
</mat-form-field>

<mat-form-field *ngIf="isDealerAddress" class="dynamic-form-field-full-width">
  <mat-label translate>ERP Site ID</mat-label>
  <input matInput type="text" id="posclientid" [required]="true" [formControl]="addressForm.get('erpsiteid')"
    [(ngModel)]="address.erpSiteId" class="form-control">
</mat-form-field>

<mat-form-field *ngIf="isDealerAddress" class="dynamic-form-field-full-width">
  <mat-label for="sitename" translate>ERP Site Name</mat-label>
  <input matInput type="text" id="sitename" [required]="true" [formControl]="addressForm.get('sitename')" [(ngModel)]="address.siteName"
    class="form-control">
</mat-form-field>

<mat-form-field *ngIf="isDealerAddress" class="dynamic-form-field-full-width">
  <mat-label translate>ERP Site Number</mat-label>
  <input matInput type="text" [required]="true" id="erpsitenumber" [formControl]="addressForm.get('erpsitenumber')"
    [(ngModel)]="address.erpSiteNumber" class="form-control">
</mat-form-field>

<mat-form-field *ngIf="isDealerAddress" class="dynamic-form-field-full-width">
  <mat-label translate>Contact Person</mat-label>
  <input matInput type="text" [required]="true" id="contactperson" [formControl]="addressForm.get('contactperson')"
    [(ngModel)]="address.contactPerson" class="form-control">
</mat-form-field>

<mat-form-field *ngIf="isDealerAddress" class="dynamic-form-field-full-width">
  <mat-label translate>Contact Mobile</mat-label>
  <input matInput type="text" [required]="true" id="contactmobile" [formControl]="addressForm.get('contactmobile')"
    [(ngModel)]="address.contactMobile" class="form-control">
</mat-form-field>