<ion-header>
  <ion-toolbar>
    <ion-thumbnail style="padding: 5px" slot="start">
      <ion-img src="../assets/logo.svg"></ion-img>
    </ion-thumbnail>
    <ion-title>Customer Portal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <mat-card *ngIf="!passwordResetToken" style="padding: 40px;">
    <mat-card-header>
      <mat-card-title>Lost your password?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form novalidate>
        <p>{{ 'Enter your username and a lost password link will be sent to you'}}.</p>
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="model.username" type="text" name="username" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="primary" (click)="resetPassword()">
          <mat-icon>done</mat-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="clickCancel()">
          <mat-icon>cancel</mat-icon>
        </ion-fab-button>
      </ion-fab>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="passwordResetToken && passwordResetToken>''" style="padding: 40px;">
    <mat-card-header>
      <mat-card-title>Confirm password reset</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form novalidate>
        <p>{{ 'Enter the username associated with this password reset token'}}.</p>
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="model.username" type="text" name="username" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="padding-top: 10px;">
      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="primary" (click)="confirmResetPassword()">
          <mat-icon>done</mat-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="clickCancel()">
          <mat-icon>cancel</mat-icon>
        </ion-fab-button>
      </ion-fab>
    </mat-card-actions>
  </mat-card>
</ion-content>