<div mat-dialog-content style="background: transparent; min-width: 450px !important">
    <mat-card style="overflow: hidden;">
      <mat-card-header>
        <mat-card-title translate>Mobile Money Payment</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field floatLabel="always">
            <mat-label>Amount</mat-label>
            <input matInput currencyMask [(ngModel)]="data.payment.amount" [options]="amountOptions">
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>Mobile Number</mat-label>
            <ngx-mat-intl-tel-input
      [preferredCountries]="countryCodes"
      [onlyCountries]="countryCodes"
      [enablePlaceholder]="true"
      name="Mobile" [(ngModel)]="data.payment.msisdn" #phone></ngx-mat-intl-tel-input>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions *ngIf="!processing">
        <button mat-button (click)="onNoClick()" matTooltip="Cancel" color="primary"><mat-icon aria-hidden="false" aria-label="Cancel">cancel</mat-icon></button>
        <button mat-button (click)="onSubmitClick()" matTooltip="Submit" color="primary"><mat-icon aria-hidden="false" aria-label="Submit">check_outline</mat-icon></button>
      </mat-card-actions>
    </mat-card>
    <mat-spinner *ngIf="processing" style="position: absolute;" class="loading-indicator"></mat-spinner>
  </div>