<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail style="padding: 5px" slot="start">
      <ion-img src="../assets/logo.svg"></ion-img>
    </ion-thumbnail>
    <ion-title><mat-icon [inline]="true">assignment</mat-icon> Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <mat-card *ngIf="mode=='list'">

    <mat-card-content>

      <mat-form-field>
        <mat-label translate>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="">
      </mat-form-field>

      <table mat-table [dataSource]="ordersDatasource" class="mat-elevation-z8">

        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let row">{{row.customerName}}</td>
        </ng-container>

        <ng-container matColumnDef="orderNumber">
          <th mat-header-cell *matHeaderCellDef>Sales Order</th>
          <td mat-cell *matCellDef="let row">{{row.orderNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="quotationNumber">
          <th mat-header-cell *matHeaderCellDef>Quotation</th>
          <td mat-cell *matCellDef="let row">{{row.quotationNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef>Created Date</th>
          <td mat-cell *matCellDef="let row">{{row.createdDate}}</td>
        </ng-container>

        <ng-container matColumnDef="dispatchedDate">
          <th mat-header-cell *matHeaderCellDef>Dispatched Date</th>
          <td mat-cell *matCellDef="let row">{{row.dispatchedDate}}</td>
        </ng-container>

        <ng-container matColumnDef="warehouse">
          <th mat-header-cell *matHeaderCellDef>Warehouse</th>
          <td mat-cell *matCellDef="let row">{{row.warehouse}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let row">{{row.status}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onOrderSelect(row.orderNumber)"></tr>
      </table>

    </mat-card-content>

  </mat-card>


  <div *ngIf="mode!='list'">

    <form>
      <ion-card>
        <mat-card style="max-width: unset !important">

          <mat-card-header>
            <mat-card-title>{{'Order Number'}}: {{orderNumber}}</mat-card-title>
          </mat-card-header>

          <mat-card-content *ngIf="orderDetail">

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Quotation</mat-label>
              <input matInput [placeholder]="'Quotation Number'" [type]="'text'"
                [(ngModel)]="orderDetail.quotationNumber" [ngModelOptions]="{standalone: true}" style="display: none;">
              <a routerLink="/quote/edit/{{orderDetail.quotationNumber}}" href="#">{{orderDetail.quotationNumber}}
                <button mat-button matSuffix mat-icon-button aria-label="Download" (click)="downloadProforma($event);">
                  <mat-icon>cloud_download</mat-icon>
                </button>
              </a>
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Status</mat-label>
              <input matInput [placeholder]="'Status'" [type]="'text'" [(ngModel)]="orderDetail.orderStatus.name"
                [ngModelOptions]="{standalone: true}" disabled>
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Issuing Warehouse</mat-label>
              <input matInput [placeholder]="'Issuing Warehouse'" [type]="'text'"
                [(ngModel)]="orderDetail.warehouse.name" [ngModelOptions]="{standalone: true}" disabled>
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Payment Method</mat-label>
              <input matInput [placeholder]="'Payment Method'" [type]="'text'"
                [(ngModel)]="orderDetail.paymentType.name" [ngModelOptions]="{standalone: true}" disabled>
            </mat-form-field>

          </mat-card-content>

        </mat-card>
      </ion-card>

      <ion-card *ngIf="orderDetail">

        <mat-card style="max-width: unset !important">

          <mat-card-header>
            <mat-card-title>{{'Order Summary'}}</mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <div *ngIf="orderDetail.orderPrice">

              <mat-form-field class="example-full-width">
                <mat-label>{{ 'Total Amount (excl)'}}</mat-label>
                <input matInput [type]="'text'" value="{{formatAmount(orderDetail.orderPrice.totalGrossValue, true)}}"
                  readonly>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>{{ 'Total Tax'}}</mat-label>
                <input matInput [type]="'text'" value="{{formatAmount(orderDetail.orderPrice.totalTaxValue, true)}}"
                  readonly>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>{{ 'Total Discount'}}</mat-label>
                <input matInput [type]="'text'"
                  value="{{formatAmount(orderDetail.orderPrice.totalDiscountValue, true)}}" readonly>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>{{ 'Total Amount (incl)'}}</mat-label>
                <input matInput [type]="'text'" value="{{formatAmount(orderDetail.orderPrice.totalValue, true)}}"
                  readonly>
              </mat-form-field>

              <mat-form-field *ngIf="totalPayments>0" class="example-full-width">
                <mat-label>{{ 'Less Payments'}}</mat-label>
                <input matInput [type]="'text'" style="color: red" value="{{formatAmount(totalPayments, true)}}"
                  readonly>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label style="font-weight: bold;">{{ 'Total Due'}}</mat-label>
                <input matInput [type]="'text'" style="font-weight: bold;" value="{{formatAmount(orderDetail.orderPrice.totalValue - totalPayments, true)}}"
                  readonly>
              </mat-form-field>

            </div>

            <div *ngIf="!orderDetail.orderPrice">

              <mat-form-field class="example-full-width">
                <mat-label>{{ 'Total Amount (excl)'}}</mat-label>
                <input matInput [type]="'text'"
                  value="{{formatAmount(orderDetail.quotation.quotationPrice.totalGrossValue, true)}}" readonly>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>{{ 'Total Tax'}}</mat-label>
                <input matInput [type]="'text'"
                  value="{{formatAmount(orderDetail.quotation.quotationPrice.totalTaxValue, true)}}" readonly>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>{{ 'Total Discount'}}</mat-label>
                <input matInput [type]="'text'"
                  value="{{formatAmount(orderDetail.quotation.quotationPrice.totalDiscountValue, true)}}" readonly>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>{{ 'Total Amount (incl)'}}</mat-label>
                <input matInput [type]="'text'"
                  value="{{formatAmount(orderDetail.quotation.quotationPrice.totalValue, true)}}" readonly>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label style="color: red">{{ 'Less Payments'}}</mat-label>
                <input matInput [type]="'text'" style="color: red" value="- {{formatAmount(totalPayments, true)}}"
                  readonly>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label style="font-weight: bold;">{{ 'Total Due'}}</mat-label>
                <input matInput [type]="'text'" style="font-weight: bold;" value="{{formatAmount(orderDetail.quotation.quotationPrice.totalValue - totalPayments, true)}}"
                  readonly>
              </mat-form-field>

            </div>

            <!-- Order has been Accepted in iTRAC -->
            <table *ngIf="orderDetail.orderDetails.length>0" mat-table [dataSource]="orderDetail.orderDetails"
              class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef> Product </th>
                <td mat-cell *matCellDef="let line"> {{line.stockDetail.label}} </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="serialStart">
                <th mat-header-cell *matHeaderCellDef> Start Serial </th>
                <td mat-cell *matCellDef="let line"> {{line.serialStart}} </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="serialEnd">
                <th mat-header-cell *matHeaderCellDef> End Serial </th>
                <td mat-cell *matCellDef="let line"> {{line.serialEnd}} </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let line">
                  {{line.orderDetailPrice ? formatAmount(line.orderDetailPrice.quantity) : formatAmount(orderDetail.quotation.quotationDetails[orderDetail.orderDetails.indexOf(line)].quotationDetailPrice.quantity)}}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let line">
                  {{line.orderDetailPrice ? formatAmount(line.orderDetailPrice.value) : formatAmount(orderDetail.quotation.quotationDetails[orderDetail.orderDetails.indexOf(line)].quotationDetailPrice.value)}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="acceptedDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: acceptedDisplayedColumns;"></tr>

            </table>

            <!-- Order has not yet been Accepted in iTRAC -->
            <table *ngIf="orderDetail.orderDetails.length<=0" mat-table [dataSource]="orderDetail.quotation.quotationDetails"
              class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef> Product </th>
                <td mat-cell *matCellDef="let line"> {{line.stockDetail.label}} </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="serialStart">
                <th mat-header-cell *matHeaderCellDef> Start Serial </th>
                <td mat-cell *matCellDef="let line"> {{orderDetail.orderStatus.name==='Cancelled' ? '' : 'Pending'}} </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="serialEnd">
                <th mat-header-cell *matHeaderCellDef> End Serial </th>
                <td mat-cell *matCellDef="let line"> {{orderDetail.orderStatus.name==='Cancelled' ? '' : 'Pending'}} </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let line">
                  {{formatAmount(line.quotationDetailPrice.quantity)}}
                </td>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let line">
                  {{formatAmount(line.quotationDetailPrice.value)}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="acceptedDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: acceptedDisplayedColumns;"></tr>

            </table>

          </mat-card-content>

        </mat-card>
      </ion-card>

      <ion-card *ngIf="orderDetail">

        <mat-card style="max-width: unset !important">

          <mat-card-header>
            <mat-card-title>{{'Received Payments'}}</mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <table mat-table [dataSource]="paymentsDatasource" class="mat-elevation-z8">

              <ng-container matColumnDef="paymentNumber">
                <th mat-header-cell *matHeaderCellDef>{{ 'Payment Number' }}</th>
                <td mat-cell *matCellDef="let row">{{row.paymentNumber}}</td>
              </ng-container>
      
              <ng-container matColumnDef="paymentDate">
                <th mat-header-cell *matHeaderCellDef>{{ 'Payment Date'}}</th>
                <td mat-cell *matCellDef="let row">{{row.paymentDate}}</td>
              </ng-container>
      
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>{{ 'Amount'}}</th>
                <td mat-cell *matCellDef="let row">{{row.amount}}</td>
              </ng-container>
      
              <ng-container matColumnDef="paymentType">
                <th mat-header-cell *matHeaderCellDef>{{ 'Payment Method'}}</th>
                <td mat-cell *matCellDef="let row">{{row.paymentType.name}}</td>
              </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedPaymentsColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedPaymentsColumns;"></tr>
            </table>
          </mat-card-content>

          <ion-fab *ngIf="orderDetail.orderStatus.name==='Add' && orderDetail.paymentType.name==='Mobile Money'" vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button color="primary" (click)="addMobileMoneyPayment()">
              <mat-icon aria-hidden="false" aria-label="Add">add</mat-icon>
            </ion-fab-button>
          </ion-fab>

        </mat-card>
      </ion-card>

    </form>
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="clickCancel()"
      *ngIf="orderDetail && (orderDetail.orderStatus.name==='New' || orderDetail.orderStatus.name==='Add' || orderDetail.orderStatus.name==='Ready to Verify' || orderDetail.orderStatus.name==='Ready to Confirm' || orderDetail.orderStatus.name==='Ready to Invoice')">
      <mat-icon aria-hidden="false" aria-label="Save">delete</mat-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" (click)="clickBack()" *ngIf="mode!='list'">
      <mat-icon aria-hidden="false" aria-label="Save">cancel</mat-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>