<ion-header>
  <ion-toolbar>
    <ion-thumbnail style="padding: 5px" slot="start">
      <ion-img src="../assets/logo.svg"></ion-img>
    </ion-thumbnail>
    <ion-title translate>Customer Portal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <mat-card style="padding: 40px;">
    <mat-card-header>
      <mat-card-title translate>Please Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="model.username" name="username" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput (keydown)="onKeydown($event)" placeholder="Password" [(ngModel)]="model.password"
            type="password" name="password" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="padding-top: 10px;">
      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="primary" (click)="login()">
          <mat-icon>lock_open</mat-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="help()">
          <mat-icon>help_outline</mat-icon>
        </ion-fab-button>
      </ion-fab>
    </mat-card-actions>
  </mat-card>
</ion-content>