<mat-card *ngFor="let contact of contacts; let i=index">

    <mat-card-header>
        <ion-fab-button style="position: absolute; right: 0px; top: 0px;" size="small" color="primary" (click)="removeContact(i)" color="primary">
            <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
        </ion-fab-button>
    </mat-card-header>

    <mat-card-content>
        <contact-person [disabled]="isDisabled" [parentForm]="contactPersonsParentForm"
            [parentFormSubmitted]="contactPersonsParentFormSubmitted" [index]="i" [contact]="contact"></contact-person>
    </mat-card-content>

</mat-card>

<ion-fab-button size="small" color="primary" (click)="addContact()" color="primary">
    <mat-icon aria-hidden="false" aria-label="Add">add</mat-icon>
</ion-fab-button>