<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail style="padding: 5px" slot="start">
      <ion-img src="../assets/logo.svg"></ion-img>
    </ion-thumbnail>
    <ion-title><mat-icon [inline]="true">person</mat-icon> Dealers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <mat-card *ngIf="mode=='list'">

    <mat-card-header>
      <mat-card-title *ngIf="supplier">{{ 'Dealers linked to Supplier'}} : {{supplier}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <mat-form-field>
        <mat-label translate>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="">
      </mat-form-field>

      <table mat-table [dataSource]="dealersDatasource" class="mat-elevation-z8">

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Code</th>
          <td mat-cell *matCellDef="let row">{{row.code}}</td>
        </ng-container>

        <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef>Supplier</th>
          <td mat-cell *matCellDef="let row">{{row.supplier}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickEdit(row.supplier, row.code)"></tr>
      </table>

    </mat-card-content>

  </mat-card>

  <form *ngIf="mode!='list'" [formGroup]="myForm">

    <ion-card>
      <mat-card style="max-width: unset !important; overflow: unset;">

        <mat-card-header>
          <mat-card-title translate>{{ 'Customer Account Details'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Customer Account Number</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['erpcustomeraccountnumber']"
              [placeholder]="'Customer Account Number'" [type]="'text'"
              [(ngModel)]="model['customerAccount']['erpCustomerAccountNumber']" >
            <ion-fab-button (click)="validateDealerAccountNumber()" mat-mini-fab color="primary" matSuffix>
              <mat-icon>search</mat-icon>
            </ion-fab-button>
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Customer Name</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['customername']"
              [placeholder]="'Customer Name'" [type]="'text'" [(ngModel)]="model['customerAccount']['customerName']">
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Customer ID</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['erpcustomerid']"
              [placeholder]="'Customer ID'" [type]="'text'" [(ngModel)]="model['customerAccount']['erpCustomerId']">
          </mat-form-field>

          <mat-form-field>
            <!-- the matInput with display:none makes the magic. It's ugly, I've warned you -->
            <input matInput [formControl]="myForm.controls['blacklisted']" [(ngModel)]="model['customerAccount']['blacklisted']" style="display: none">
            <mat-checkbox [checked]="isChecked" (change)="toggleChanged($event)">Blacklisted</mat-checkbox>
          </mat-form-field>

        </mat-card-content>

      </mat-card>
    </ion-card>

    <ion-card>
      <mat-card style="max-width: unset !important">

        <mat-card-header>
          <mat-card-title *ngIf="mode=='delete'" translate>{{ 'Delete Dealer'}}</mat-card-title>
          <mat-card-title *ngIf="mode=='edit'" translate>{{ 'Edit Dealer'}}</mat-card-title>
          <mat-card-title *ngIf="mode=='add'" translate>{{ 'Add Dealer under Supplier'}}:
            {{model.supplier}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Dealer Code</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['code']" [placeholder]="'Dealer Code'"
              [type]="'text'" [(ngModel)]="model['code']">
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Dealer Name</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['name']" [placeholder]="'Dealer Name'"
              [type]="'text'" [(ngModel)]="model['name']">
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Supplier</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['supplier']" [placeholder]="'Supplier'"
              [type]="'text'" [(ngModel)]="model['supplier']">
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Tax Number</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['taxnumber']" [placeholder]="'Tax Number'"
              [type]="'text'" [(ngModel)]="model['taxnumber']">
          </mat-form-field>

          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Registration Number</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['registrationnumber']"
              [placeholder]="'Registration Number'" [type]="'text'" [(ngModel)]="model['registrationnumber']">
          </mat-form-field>

          <ion-fab style="position: inherit;" *ngIf="mode==='edit'">
            <ion-fab-button color="primary" (click)="clickManageDealerUsers()" translate>
              <mat-icon>people</mat-icon>
            </ion-fab-button>
            <ion-fab-button color="primary" (click)="clickManageDealerSubDealers()" translate>
              <mat-icon>person</mat-icon>
            </ion-fab-button>
          </ion-fab>

        </mat-card-content>

      </mat-card>
    </ion-card>

    <ion-card *ngIf="model['supplierSystemSpec']">
      <mat-card style="max-width: unset !important">

        <mat-card-header>
          <mat-card-title translate>{{ 'Supplier System Specification'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <mat-form-field>
            <!-- the matInput with display:none makes the magic. It's ugly, I've warned you -->
            <input matInput [formControl]="myForm.controls['issupplier']" [(ngModel)]="model.isSupplier"
              style="display: none">
            <mat-checkbox [checked]="isSupplierChecked" (change)="toggleSupplierChanged($event)">Dealer is a Supplier
            </mat-checkbox>
          </mat-form-field>

          <div *ngIf="model['isSupplier']">

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Logo</mat-label>
              <input matInput [required]="true" [formControl]="myForm.controls['logo']" [placeholder]="'Logo'"
                [type]="'text'" [(ngModel)]="model['logo']">
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Proforma Template</mat-label>
              <input matInput [required]="true" [formControl]="myForm.controls['proformatemplate']"
                [placeholder]="'Proforma Template'" [type]="'text'" [(ngModel)]="model['proformatemplate']">
            </mat-form-field>

            <mat-form-field class="dynamic-form-field-full-width">
              <mat-label translate>Theme</mat-label>
              <input matInput [required]="true" [formControl]="myForm.controls['theme']" [placeholder]="'Theme'"
                [type]="'text'" [(ngModel)]="model['theme']">
            </mat-form-field>

            <mat-card style="max-width: unset !important">

              <mat-card-header>
                <mat-card-title translate>{{ 'Service Registration'}}</mat-card-title>
              </mat-card-header>

              <mat-card-content>

                <mat-form-field class="dynamic-form-field-full-width">
                  <mat-label translate>Service URL</mat-label>
                  <input matInput [required]="true" [formControl]="myForm.controls['serviceurl']"
                    [placeholder]="'Service URL'" [type]="'text'" [(ngModel)]="model['serviceurl']">
                </mat-form-field>

                <mat-form-field class="dynamic-form-field-full-width">
                  <mat-label translate>Service Name</mat-label>
                  <input matInput [required]="true" [formControl]="myForm.controls['servicename']"
                    [placeholder]="'Service Name'" [type]="'text'" [(ngModel)]="model['servicename']">
                </mat-form-field>

                <mat-form-field class="dynamic-form-field-full-width">
                  <mat-label translate>Service Password</mat-label>
                  <input matInput [required]="true" [formControl]="myForm.controls['servicepassword']"
                    [placeholder]="'Service Password'" [type]="'password'" [(ngModel)]="model['servicepassword']">
                </mat-form-field>

                <mat-form-field class="dynamic-form-field-full-width">
                  <mat-label translate>Repeat Service Password</mat-label>
                  <input matInput [required]="true" [formControl]="myForm.controls['repeatservicepassword']"
                    [placeholder]="'Repeat Service Password'" [type]="'password'"
                    [(ngModel)]="model['repeatservicepassword']">
                </mat-form-field>

              </mat-card-content>

            </mat-card>

          </div>

        </mat-card-content>

      </mat-card>
    </ion-card>

    <ion-card>

      <mat-card style="max-width: unset !important">

        <mat-card-header>
          <mat-card-title translate>{{ 'Contact Persons'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <contact-persons [disabled]="myForm.disabled" [parentForm]="myForm" [parentFormSubmitted]="formsubmitted"
            [contacts]="model.contactPersons"></contact-persons>
        </mat-card-content>

      </mat-card>

    </ion-card>

    <ion-card>
      <mat-card>

        <mat-card-header>
          <mat-card-title translate>{{ 'Billing Address'}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <address [disabled]="myForm.disabled" [parentForm]="myForm" [parentFormSubmitted]="formsubmitted"
            [address]="model.billToAddress"></address>
        </mat-card-content>

      </mat-card>
    </ion-card>

    <ion-card>
      <mat-card>

        <mat-card-header>
          <mat-card-title translate>{{ 'Shipping Address'}} <mat-checkbox
              (change)="shippingSameAsBillingAddress()">Same as billing address</mat-checkbox>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <address [disabled]="myForm.disabled" [parentForm]="myForm" [parentFormSubmitted]="formsubmitted"
            [address]="model.shipToAddress"></address>
        </mat-card-content>

      </mat-card>
    </ion-card>

  </form>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="primary"
      *ngIf="utility.userHasRoles(['ROLE_Dealer_Write']) && (mode==='add' || mode==='edit')"
      (click)="submitDealerCrudForm()">
      <mat-icon aria-hidden="false" aria-label="Save">save</mat-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" (click)="clickDelete()" *ngIf="utility.userHasRoles(['ROLE_Dealer_Write']) && (mode==='edit')">
      <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
    </ion-fab-button>
    <ion-fab-button color="primary" *ngIf="utility.userHasRoles(['ROLE_Dealer_Write']) &&  (mode==='list')" (click)="clickAdd()" color="primary"><mat-icon aria-hidden="false" aria-label="Add">add</mat-icon></ion-fab-button>
  </ion-fab>

</ion-content>