<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail style="padding: 5px" slot="start">
      <ion-img src="../assets/logo.svg"></ion-img>
    </ion-thumbnail>
    <ion-title><mat-icon [inline]="true">people</mat-icon> Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <mat-card *ngIf="mode=='list'" style="overflow: auto !important;">

    <mat-card-header>
      <mat-card-title *ngIf="organization">{{ 'Users linked to Organisation'}} : {{organization}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <mat-form-field>
        <mat-label translate>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="">
      </mat-form-field>

      <table mat-table [dataSource]="usersDatasource" class="mat-elevation-z8">

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let row">{{row.username}}</td>
        </ng-container>

        <ng-container matColumnDef="firstname">
          <th mat-header-cell *matHeaderCellDef>First Name</th>
          <td mat-cell *matCellDef="let row">{{row.firstname}}</td>
        </ng-container>

        <ng-container matColumnDef="lastname">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let row">{{row.lastname}}</td>
        </ng-container>

        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef>Mobile</th>
          <td mat-cell *matCellDef="let row">{{row.mobile}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let row">{{row.email}}</td>
        </ng-container>

        <ng-container matColumnDef="organization">
          <th mat-header-cell *matHeaderCellDef>Organization</th>
          <td mat-cell *matCellDef="let row">{{row.organization}}</td>
        </ng-container>

        <ng-container matColumnDef="roles">
          <th mat-header-cell *matHeaderCellDef>Roles</th>
          <td mat-cell *matCellDef="let row">{{row.roles}}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="orgType">
          <th mat-header-cell *matHeaderCellDef>OrgType</th>
          <td mat-cell *matCellDef="let row">{{row.orgType}}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="mustChangePassword">
          <th mat-header-cell *matHeaderCellDef>Must Change Password</th>
          <td mat-cell *matCellDef="let row">{{row.mustChangePassword}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickEdit(row.organization, row.username)"></tr>
      </table>

    </mat-card-content>

  </mat-card>

  <ion-card *ngIf="mode!='list'">

    <mat-card>

      <mat-card-header>
        <mat-card-title *ngIf="mode=='delete'" translate>{{ 'Delete User'}}</mat-card-title>
        <mat-card-title *ngIf="mode=='edit'" translate>{{ 'Edit User'}}</mat-card-title>
        <mat-card-title *ngIf="mode=='add'" translate>{{ 'Add User under Organisation'}}:
          {{model.organization}}</mat-card-title>
        <mat-card-title *ngIf="mode=='view'" translate>{{ 'User Detail'}}</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
  
        <form [formGroup]="myForm" (ngSubmit)="submitUserCrudForm()">
  
          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Username</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['username']" [placeholder]="'Username'" [type]="'text'" [(ngModel)]="model.username">  
          </mat-form-field>
  
          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>First Name</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['firstname']" [placeholder]="'First Name'" [type]="'text'" [(ngModel)]="model.firstname">  
          </mat-form-field>
  
          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Last Name</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['lastname']" [placeholder]="'Last Name'" [type]="'text'" [(ngModel)]="model.lastname">  
          </mat-form-field>
  
          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Mobile</mat-label>
            <!--
            <input matInput [required]="true" [formControl]="myForm.controls['mobile']" [placeholder]="'Mobile'" [type]="'text'" [(ngModel)]="model.mobile">   -->
            <ngx-mat-intl-tel-input
      [preferredCountries]="['za']"
      [onlyCountries]="['za']"
      [enablePlaceholder]="true"
      name="Mobile"
      [formControl]="myForm.controls['mobile']" [(ngModel)]="model.mobile" #phone></ngx-mat-intl-tel-input>  
          <mat-error *ngIf="myForm.controls['mobile']?.errors?.validatePhoneNumber">Invalid Number</mat-error>
          </mat-form-field>
  
          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Email</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['email']" [placeholder]="'Email'" [type]="'text'" [(ngModel)]="model.email">  
            <mat-error *ngIf="myForm.controls['email'].hasError('email') && !myForm.controls['email'].hasError('required')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="dynamic-form-field-full-width">
            <mat-label translate>Organisation</mat-label>
            <input matInput [required]="true" [formControl]="myForm.controls['organization']" [placeholder]="'Organisation'" [type]="'text'" [(ngModel)]="model.organization">  
          </mat-form-field>
  
          <mat-form-field *ngIf="mode!='add'">
            <!-- the matInput with display:none makes the magic. It's ugly, I've warned you -->
            <input matInput [formControl]="myForm.controls['mustChangePassword']" [(ngModel)]="model.mustChangePassword" style="display: none">
            <mat-checkbox [checked]="isChecked" (change)="toggleChanged($event)">Change Password On Next Logon</mat-checkbox>
          </mat-form-field>
  
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Roles selection">
              <mat-chip
                *ngFor="let role of assignedUserRoles"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(role)">
                {{role.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="User Roles"
                #roleInput
                [formControl]="roleCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList">              
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
                {{role.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
  
      </mat-card-content>
  
    </mat-card>

  </ion-card>  

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" *ngIf="utility.userHasRoles(['ROLE_User_Write']) && (mode==='add' || mode==='edit')" (click)="submitUserCrudForm()"><mat-icon aria-hidden="false" aria-label="Save">save</mat-icon></ion-fab-button>
    <ion-fab-button color="secondary" *ngIf="utility.userHasRoles(['ROLE_User_Write']) && (mode==='edit')" (click)="clickDelete()"><mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon></ion-fab-button>
    <!-- <ion-fab-button color="secondary" *ngIf="(mode==='add' || mode==='edit')" (click)="clickCancel()"><mat-icon aria-hidden="false" aria-label="Cancel">cancel</mat-icon></ion-fab-button> -->
    <ion-fab-button color="primary" *ngIf="utility.userHasRoles(['ROLE_User_Write']) &&  (mode==='list')" (click)="clickAdd()" color="primary"><mat-icon aria-hidden="false" aria-label="Add">add</mat-icon></ion-fab-button>
  </ion-fab>

</ion-content>

